<pre><code>  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">id</span>=<span class="hljs-string">&quot;header_content&quot;</span>&gt;</span><span class="hljs-comment">&lt;!-- leave it empty and put &#x27;header_frame&#x27;  in main for have it only on the first page--&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
  <span class="hljs-comment">&lt;!-- Content for Static Frame &#x27;footer_frame&#x27; --&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">id</span>=<span class="hljs-string">&quot;footer_content&quot;</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">table</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">tbody</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">tr</span>&gt;</span>
           <span class="hljs-tag">&lt;<span class="hljs-name">td</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">td</span>&gt;</span>
           <span class="hljs-tag">&lt;<span class="hljs-name">td</span> <span class="hljs-attr">style</span>=<span class="hljs-string">&quot;text-align: right;&quot;</span>&gt;</span>
              <span class="hljs-tag">&lt;<span class="hljs-name">small</span>&gt;</span>
                 Seite 
                 <span class="hljs-tag">&lt;<span class="hljs-name">pdf:pagenumber</span>&gt;</span>
                 / 
                 <span class="hljs-tag">&lt;<span class="hljs-name">pdf:pagecount</span>&gt;</span>
              <span class="hljs-tag">&lt;/<span class="hljs-name">pdf:pagecount</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">pdf:pagenumber</span>&gt;</span>
            <span class="hljs-tag">&lt;/<span class="hljs-name">small</span>&gt;</span>
              <span class="hljs-tag">&lt;<span class="hljs-name">br</span>&gt;</span>
              <span class="hljs-tag">&lt;<span class="hljs-name">br</span>&gt;</span>
           <span class="hljs-tag">&lt;/<span class="hljs-name">td</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-name">tr</span>&gt;</span>
     <span class="hljs-tag">&lt;/<span class="hljs-name">tbody</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">table</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
  
  <span class="hljs-comment">&lt;!-- HTML Content --&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">table</span> <span class="hljs-attr">style</span>=<span class="hljs-string">&quot;width:650px; border:none; border-spacing: 0px; padding: 0; line-height: 24px; border-bottom: 1px solid #d8d8d8;&quot;</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">tbody</span> <span class="hljs-attr">style</span>=<span class="hljs-string">&quot;border: none;&quot;</span>&gt;</span>
   <span class="hljs-tag">&lt;<span class="hljs-name">tr</span> <span class="hljs-attr">style</span>=<span class="hljs-string">&quot;border: none;&quot;</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">td</span> <span class="hljs-attr">style</span>=<span class="hljs-string">&quot;width:450px; vertical-align: bottom;border: none;padding-top: 17px;&quot;</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-name">td</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">td</span> <span class="hljs-attr">rowspan</span>=<span class="hljs-string">&quot;2&quot;</span> <span class="hljs-attr">style</span>=<span class="hljs-string">&quot;width: 300px;vertical-align: top;margin-top: 0;text-align: right;padding-top: 0;border: none;&quot;</span>&gt;</span>
         <span class="hljs-tag">&lt;<span class="hljs-name">img</span> <span class="hljs-attr">src</span>=<span class="hljs-string">&quot;https://res.cloudinary.com/gharnati-com/image/upload/v1655592037/logo_gnq5mb.png&quot;</span> <span class="hljs-attr">style</span>=<span class="hljs-string">&quot;width: 350px;right: 0px;margin: 0;height: 204px;&quot;</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-name">td</span>&gt;</span>
   <span class="hljs-tag">&lt;/<span class="hljs-name">tr</span>&gt;</span>
   <span class="hljs-tag">&lt;<span class="hljs-name">tr</span> <span class="hljs-attr">style</span>=<span class="hljs-string">&quot;border: none;&quot;</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">td</span> <span class="hljs-attr">style</span>=<span class="hljs-string">&quot;border: none;vertical-align: top;&quot;</span>&gt;</span>
         Louq Gharnati
         <span class="hljs-tag">&lt;<span class="hljs-name">br</span>&gt;</span>
         {adresse}
      <span class="hljs-tag">&lt;/<span class="hljs-name">td</span>&gt;</span>
   <span class="hljs-tag">&lt;/<span class="hljs-name">tr</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">tbody</span>&gt;</span>
</code></pre>
 </table>
<p class="s1" style="text-align: right;">
<small>
<b>Datum: {angebots_datum_PDF}</b>
</small>
</p>
<br>
      <p>
         <strong>Angebot </strong>
         <br>Angebotsnummer: {angebotsnummer} <br>
         <br>Sehr geehrter Herr Gharnati, <br>
         <br>vielen Dank für Ihre Anfrage. Wie gewünscht bieten wir Ihnen das nachfolgende Balkonkraftwerk an.<br>
berücksichtigt wurde.<br>
         <br>
      <strong>{bkwtyp}</strong>
      </p>
      <table style="border-collapse:separate;border-spacing:0 0;padding:0;padding-left: 5px;padding-right: 5px;" cellspacing="0">
         <thead>
            <tr>
               <th style="padding:0;margin:0;text-indent:0;text-align:left;padding-top:3px;height:25px;width:0%;" bgcolor="#D9D9D9"></th>
               <th style="padding:0;margin:0;text-indent:0;text-align:left;padding-top:3px;height:25px;width:20%;" bgcolor="#D9D9D9">Pos.</th>
               <th style="padding:0;margin:0;text-indent:0;text-align:left;padding-top:3px;height:25px;width:20%;" bgcolor="#D9D9D9">Menge</th>
               <th style="padding:0;margin:0;text-indent:0;text-align:left;padding-top:3px;height:25px;width:40%;" bgcolor="#D9D9D9">Bezeichnung</th>
               <th style="padding:0;margin:0;text-indent:0;text-align: right;padding-top:3px;height:25px;width:20%;" bgcolor="#D9D9D9">Gesamt (netto)</th>
               <th style="padding:0;margin:0;text-indent:0;text-align:left;padding-top:3px;height:25px;width:0%;" bgcolor="#D9D9D9"></th>
            </tr>
         </thead>
         <tbody style="vertical-align:top">
            <tr>
               <td></td>
               <td style="padding:0;margin:0;vertical-align:top">
                  <br>01
               </td>
               <td style="padding:0;margin:0;vertical-align:top">
                  <br>{stueckzahl_module}
               </td>
               <td style="padding:0;margin:0;vertical-align:top">
                  <br>
                  <b>Solarmodul Sunpro M10</b><br>
                  - 410 Watt Leistung (je Modul)<br>
                  - 12 Jahre Produktgarantie<br>
                  - 25 Jahre Leistungsgarantie<br>
                  - Maße 1724 x 1134 x 30 mm (LxBxT) 
               </td>
               <td style="padding:0;margin:0;vertical-align:top;text-align:right"></td>
               <td></td>
            </tr>
            <tr>
               <td></td>
               <td style="padding:0;margin:0;vertical-align:top">
                  <br>02
               </td>
               <td style="padding:0;margin:0;vertical-align:top">
                  <br>1 Stück
               </td>
               <td style="padding:0;margin:0;vertical-align:top">
                  <br>
                  <b>Microwechselrichter Hoymiles HM-600</b><br>
                  - 600 Watt Leistung<br>
                  - 12 Jahre Produktgarantie<br>
                  - Integrierter NA-Schutz gem. VDE-AR-N 4105<br>
                  - Maße 250 x 170 x 28 mm (BxHxT)
               </td>
               <td style="padding:0;margin:0;vertical-align:top;text-align:right"></td>
               <td></td>
            </tr>
            <tr>
               <td></td>
               <td style="padding:0;margin:0;vertical-align:top">
                  <br>03
               </td>
               <td style="padding:0;margin:0;vertical-align:top">
                  <br>1 Stück
               </td>
               <td style="padding:0;margin:0;vertical-align:top">
                  <br>
                  <b>Verlängerungskabel</b><br>
                  - Länge {kabellaenge}<br>
                  - Anschluss Schuko-Stecker
               </td>
               <td style="padding:0;margin:0;vertical-align:top;text-align:right"></td>
               <td></td>
            </tr>
            <tr>
               <td></td>
               <td style="padding:0;margin:0;vertical-align:top">
                  <br>04
               </td>
               <td style="padding:0;margin:0;vertical-align:top">
                  <br>1 Stück
               </td>
               <td style="padding:0;margin:0;vertical-align:top">
                  <br>
                  <b>Befestigungssystem</b><br>
                  {befestigungssystem_without_description}
               </td>
               <td style="padding:0;margin:0;vertical-align:top;text-align:right"></td>
               <td></td>
            </tr>
            <tr>
               <td></td>
               <td style="padding:0;margin:0;vertical-align:top"></td>
               <td style="padding:0;margin:0;vertical-align:top"></td>
               <td style="padding:0;margin:0;vertical-align:top">
                  <br>
                  Nettobetrag
               </td>
               <td style="padding:0;margin:0;vertical-align:top;text-align:right">
                  <br>
                  {netto_betrag} EUR
               </td>
               <td></td>
            </tr>
            <tr>
               <td></td>
               <td style="padding:0;margin:0;vertical-align:top" rowspan="2"></td>
               <td style="padding:0;margin:0;vertical-align:top" rowspan="2"></td>
               <td style="padding:0;margin:0;vertical-align:top"><br>Umsatzsteuer (0%)
               </td>
               <td style="padding:0;margin:0;vertical-align:top;text-align:right"><br>{mwst} EUR
               </td>
               <td></td>
            </tr>
            <tr>
               <td></td>
               <td style="padding:0;margin:0;vertical-align:top">
                  <br>
                  <b>Bruttobetrag</b>
               </td>
               <td style="padding:0;margin:0;vertical-align:top;text-align:right">
                  <br>
                  <b>{total} EUR</b>
               </td>
               <td></td>
            </tr>
         </tbody>
      </table>
      <br>
<br>
      <p>
An das Angebot halten wir uns 14 Tage gebunden.<br>
Für Fragen stehen wir Ihnen gerne zur Verfügung. <br><br>
Ihre Grünenergie
      </p>
   
